<h3>Apply for the November/December session of devStreak</h3>

<div class="alert">
  We're not accepting applications after October 5th, so make sure to apply on time! We'll respond to all applicants letting them know their status on October 8th.
</div>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
      <input type="text" id="inputName" class="span4" placeholder="Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" class="span4" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputVideoUrl">Video URL</label>
    <div class="controls controls-row">
      <input type="text" id="inputVideoUrl" class="span4" placeholder="Video URL"><span class="span4 inline">We'd like you to upload a short video (maximum two minutes) to YouTube, explaining why the devStreak program is important to you.</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEssay">Essay</label>
    <div class="controls controls-row">
      <textarea id="inputEssay" class="span4" rows="10" placeholder="Response here..."></textarea><span class="span4 inline">Imagine there's a tree in your backyard (if you don't have a backyard, imagine you have that too), and that you want to build a treehouse. Write a short essay (maximum 100 words) on how you would accomplish that goal.</span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" name="inputPayment"> If I am accepted to devStreak, I will pay the <a href="<%= details_path %>#tuition">program tuition</a> ($5,000)
      </label>
      <label class="checkbox">
        <input type="checkbox"> If I am accepted to devStreak, I promise to give it 100% effort and time to succeed
      </label>
      <br />
      <button type="submit" class="btn btn-primary">Submit Application</button>
    </div>
  </div>
</form>

