<h2>Frequently Asked Questions</h2>
<div class="well">
  <p>If you can't find your answer in the frequently asked questions below, or if you just want to say hi, send us an email and you'll get a prompt reply!</p>
  <a href="mailto:contact@codestreak.com" target="_blank" class="btn btn-info inline">contact@codestreak.com</a>
</div>
<br />

<h4>I can't make it to San Francisco. Is there a way to attend the program online?</h4>
<blockquote>
  <p>At this time we're only offering the program onsite. A big part of what we do is one-on-one mentoring, and that's a lot more effective if done in person.</p>
</blockquote>

<h4>Does the program cover room and board?</h4>
<blockquote>
  <p>You'll have to provide for your own housing and dining. Two great resources for finding apartments in SF are <a href="https://www.padmapper.com/" target="_blank">PadMapper</a> and <a href="http://www.housingmaps.com/" target="_blank">HousingMaps</a>.</p>
</blockquote>

<h4>Do I need to bring a computer?</h4>
<blockquote>
  <p>We'll provide Mac Minis and large-screen displays for you to use while in the program. If you'd like to use a different development environment, or if you're just more comfortable with your own setup, you're completely welcome to bring that.</p>
</blockquote>

<h4>Where will the program be held?</h4>
<blockquote>
  <p>The program will be held in downtown SoMa in San Francisco, and we're currently evaluating options for the perfect classroom space. A primary consideration in choosing the right space is proximity to BART and Muni, so rest assured that using public transit will be simple.</p>
</blockquote>

<h4>Will I be pair-programming all the time?</h4>
<blockquote>
  <p>Probably. We think pairing is an excellent way to get up to speed and to make sure that you're sticking to good style while you're learning. In the first part of the program we'll be rotating pairs every day, and once you settle into groups you can self-organize and choose your partners.</p>
</blockquote>

<h4>How many students will be accepted?</h4>
<blockquote>
  <p>We're keeping our options open on this for right now, but we're envisioning class sizes between 18 and 24. Depending on the number of instructors/mentors we have, we may run multiple classes in parallel. Regardless of class size, the plan is to have one full-time instructor per six students to ensure that everyone gets a large amount of individual attention.</p>
</blockquote>

<h4>What if it isn't what I expected?</h4>
<blockquote>
  <p>We're confident that you'll love the program and will want to see it through to the end. However, if something comes up and you'd like to withdraw during the first week, we'll refund $4,000 of your tuition.</p>
</blockquote>

<h4>Isn't this kind of like devbootcamp?</h4>
<blockquote>
  <p>We were inspired by the devbootcamp program, and after hearing that they turned away over 90% of their potential students, we felt that we could help out by educating folks as well. While there are many similarities between our program and theirs, there are also some important differences. For instance, our program is a more compact six weeks rather than two and a half months, and our tuition is $6,000, whereas their tuition is $12,200. We encourage you to visit <a href="http://devbootcamp.com/" target="_blank">their website</a> to decide which program is right for you.</p>
</blockquote>

<h4>I'd like to be an instructor / mentor / guest speaker / demo day employer. Is there any info for me?</h4>
<blockquote>
  <p>We'd love to talk with you - head on over the the <a href="<%= participate_path %>">participate page</a> for some details on what we're looking for.</p>
</blockquote>

<p class="well">
 Ready to kickstart your career as a Ruby on Rails developer? <a href="<%= apply_path %>" class="btn btn-primary" style="margin-left: 6px">Apply Now!</a>
</p>

