<h2>Frequently Asked Questions</h2>
<div class="well">
  <p>If you can't find your answer in the frequently asked questions below, or if you just want to say hi, send us an email!</p>
  <a href="mailto:contact@devstreak.com" target="_blank" class="btn btn-info inline">contact@devstreak.com</a>
</div>
<br />

<h4>I can't make it to San Francisco. Is there a way to attend the program online?</h4>
<blockquote>
  <p>At this time we're only offering the program onsite. A big part of what we do is one-on-one mentoring, and that's a lot more effective if done in person.</p>
</blockquote>

<h4>Does the program cover room and board?</h4>
<blockquote>
  <p>You'll have to provide for your own housing and dining. Two great resources for finding apartments in SF are <a href="https://www.padmapper.com/" target="_blank">PadMapper</a> and <a href="http://www.housingmaps.com/" target="_blank">HousingMaps</a>.</p>
</blockquote>

<h4>Do I need to bring a computer?</h4>
<blockquote>
  <p>We'll provide Mac Minis and large-screen displays for you to use while in the program. If you'd like to use a different development environment, or if you're just more comfortable with your own setup, you're completely welcome to bring that.</p>
</blockquote>

<h4>Where will the program be held?</h4>
<blockquote>
  <p>We're currently evaluating options for the classroom space - it will be in downtown SoMa in San Francisco. Our primarily consideration in choosing the right space is proximity to BART and Muni, so be assured that using public transit will be simple.</p>
</blockquote>

<h4>Will I be pair-programming all the time?</h4>
<blockquote>
  <p>Probably. We think pairing is an excellent way to get up to speed and make sure that you're sticking to good style while you're learning. In the first part of the program we'll be rotating pairs every day, and once you settle into groups you can self-organize and choose your partners.</p>
</blockquote>

<h4>How many students will be accepted?</h4>
<blockquote>
  <p>We're keeping our options open on this for right now. Depending on the number of instructors/mentors we have, we're envisioning a class size between 16 and 30. If there is a particularly large amount of interest we may run multiple classes in parallel.</p>
</blockquote>

<h4>Isn't this kind of like devbootcamp?</h4>
<blockquote>
  <p>We were inspired by the devbootcamp program, and after hearing that they turned away over 90% of their potential students, we felt that we could help out by educating folks as well. While there are many similarities between our program and theirs, there are also some important differences. For instance, our program is 6 weeks rather than 10 weeks, and our tuition is $6,000 (with the possibility of a $4,000 refunded incentive, so really it's only $2,000), whereas their tuition is a pretty hefty $12,200. We encourage you to visit <a href="http://devbootcamp.com/" target="_blank">their website</a> to decide which program is right for you.</p>
</blockquote>

