<h3>Program Details</h3>


<dl>
  <dt>General</dt>
  <dd>devStreak is a 6-week Ruby on Rails program intended for individuals with little or no technical background. From 9am-5pm each day, you'll be taking a practical approach to learning software development, and learning in our space in downtown San Francisco. Through a combination of instruction, mentoring, and exploration, you'll train up to the level of a good, junior software engineer. The program is extremely pragmatic - while you will learn the basics of computer science theory, the focus is on how to quickly build working applications.</dd>
  <br />
  <dt>Schedule</dt>
  <dd>
    <div class="row">
      <p class="span4">Remember, remember, the fifth of November is the program's first day of class. The first three weeks of the program will be instruction and hands-on coding exercises. During the second three weeks, you'll be working in small groups to build a demo application to show off to potential employers. While there won't be much official instruction during this time, we'll kick up the mentoring and focus on any knowledge gaps or areas of particular interest.</p>
  <img src="<%= image_path('calendar.png') %>" class="span7" style="border-radius: 16px;" /></dd>
  <br />
  <dt>Curriculum</dt>
  <dd>
    We have an awesome curriculum lined up for the program. The list below, while not exhaustive, will give you a pretty good idea of what we have in store for you.
    <div class="row">
      <ul class="span3 offset1">
        <li>Ruby on Rails</li>
        <li>RSpec</li>
        <li>View templating (ERB)</li>
        <li>HTML/CSS (Twitter Bootstrap)</li>
        <li>JavaScript (jQuery)</li>
        <li>Data structures</li>
        <li>Data modeling</li>
      </ul>
      <ul class="span3">
        <li>Variables and expressions</li>
        <li>Flow/control statements</li>
        <li>Class and instance methods</li>
        <li>String manipulation</li>
        <li>Working with files</li>
        <li>Metaprogramming</li>
        <li>Algorithm complexity</li>
      </ul>
      <ul class="span3">
        <li>Source control management (git)</li>
        <li>Test-driven development</li>
        <li>Agile methodology</li>
        <li>Extreme programming</li>
        <li>Infrastructure basics (Heroku/AWS)</li>
        <li>Interview tips and tricks</li>
        <li>Mock interviews</li>
      </ul>
    </div>
  </dd>
  <br />
  <dt>Demo Day</dt>
  <dd>The final day of the program is an opportunity to show off your new skills to potential employers. We're bringing in hiring managers from Bay-area companies, big and small, and you'll get to present the application you're been working on for the past three weeks, and it should be impressive enough to score you a sweet job as a developer.</dd>
  <br />
  <a name="cost"></a>
  <dt>Program Cost</dt>
  <dd>The total up-front cost of the program is $6,000. This includes our base tuition of $2,000, which primarily goes towards office space, materials, and instructor pay. There is also the incentive amount of $4,000, which will be refunded to you if you get a job as a developer within one month of the program completion. We want our students to commit 100% to the program, and the financial incentive is a reminder to focus!</dd>
</dl>


