<h3>Program Details</h3>
<dl>
  <dt>General</dt>
  <dd>codeStreak is a 6-week Ruby on Rails program intended for individuals with little or no technical background. From 9am-5pm each day, you'll be joining us in our space in downtown San Francisco, and taking a practical approach to learning software development. Through a combination of instruction, mentoring, and exploration, you'll train up to the level of a good, junior software engineer. The program is extremely pragmatic - while you will learn the basics of computer science theory, the focus is on how to quickly build working applications.</dd>
  <br />
  <dt>Schedule</dt>
  <dd>
    <div class="row">
      <p class="span4">For those of you with plans of learning how to code in the coming year, remember that Monday, March 4th is the program's first day of class. The first three weeks of the program will be instruction and hands-on coding exercises. During the second three weeks, you'll be working in small groups to build a demo application to show off to potential employers. The focus for these weeks is individual instruction - we'll really step up the mentoring and focus on any knowledge gaps or areas of particular interest.</p>
  <img src="<%= image_path('calendar.png') %>" class="span7" style="border-radius: 16px;" /></dd>
  <br />
  <dt>Curriculum</dt>
  <dd>
    The curriculum we have lined up is practical and packed with hands-on activities. The list of subject areas and technologies below, while definitely not exhaustive, will give you a good idea of what we have in store for you. It's a lot to cover in six weeks, and with some dedication we're confident we can work through it together!
    <div class="row">
      <ul class="span3 offset1">
        <li>Ruby on Rails</li>
        <li>RSpec</li>
        <li>View templating (ERB)</li>
        <li>HTML/CSS (Twitter Bootstrap)</li>
        <li>JavaScript (jQuery)</li>
        <li>Data structures</li>
        <li>Data modeling</li>
      </ul>
      <ul class="span3">
        <li>Variables and expressions</li>
        <li>Flow/control statements</li>
        <li>Class and instance methods</li>
        <li>String manipulation</li>
        <li>Working with files</li>
        <li>Metaprogramming</li>
        <li>Algorithm complexity</li>
      </ul>
      <ul class="span3">
        <li>Source control management (git)</li>
        <li>Test-driven development</li>
        <li>Agile methodology</li>
        <li>Extreme programming</li>
        <li>Infrastructure basics (Heroku/AWS)</li>
        <li>Interview tips and tricks</li>
        <li>Mock interviews</li>
      </ul>
    </div>
  </dd>
  <br />
  <dt>Community</dt>
  <dd>You know how there's all those stories about people making great lifelong friends at summer camp? Well, you might not find your soulmate at codeStreak, but you'll definitely find supportive people that you'll love to work with. The community aspect of the program is extremely important to us - in addition to being proven to enhance learning efficacy, it's just great motivation to be working in a supportive environment. Two of the most frequent reasons people fall behind in education (of any sort) are due to a lack of support and a lack of accountability. Our team and the other students in the codeStreak community will be there with you every step of the way to help you succeed!</dd>
  <br />
  <dt>Demo Day</dt>
  <dd>The final day of the program is an opportunity to show off your new skills to potential employers. We're bringing in hiring managers from Bay-area companies, big and small, and they're excited to meet you! You'll get to present the application you're been working on for the past six weeks to them, and it should be impressive enough to score you a sweet job as a full-time developer.</dd>
  <br />
  <a name="tuition"></a>
  <dt>Program Tuition</dt>
  <dd>Tuition for the program is $6,000 - it's a small investment for your future and your new career.</dd>
</dl>

<p class="well">
 Decided that you'd like to be a developer? <a href="<%= apply_path %>" class="btn btn-primary" style="margin-left: 6px">Apply Now!</a>
</p>

