<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>From zero to coding hero</h1>
  <p>Six weeks takes you from having no coding experience at all to being a good, junior developer in Ruby on Rails.</p>
  <br />
  <br />
  <div class="row">
    <div class="span3" style="text-align: center">
      <span class="label label-info">Before</span>
      <br />
      <img src="<%= image_path('planet_cute/Character Boy.png') %>" style="margin-top: -40px" />
      <br />
      "can has codez?"
    </div>
    <div class="span4" style="line-height: 171px; text-align: center;">
      &raquo;&raquo;&raquo;&raquo; Six-week intensive onsite program &raquo;&raquo;&raquo;&raquo;
    </div>
    <div class="span3 pull-right" style="text-align: center">
      <span class="label label-info">After</span>
      <br />
      <img src="<%= image_path('planet_cute/Character Horn Girl.png') %>" style="margin-top: -40px" />
      <br />
      "check out my prototype!"
    </div>
  </div>
  <br />
  <br />
  <br />
  <p><a class="btn btn-primary btn-large">Details this way &raquo;</a></p>
</div>

