<div class="containing">
  <div class="content row_b">
    <div id="community" class="row_b">
      <div class="column c_fit">
                <div class="text">
                  <h2>Community that works for you!</h2>
                  <p>Built for teams from 1 to 100, CodeStreak makes it easy to stay on time and on budget. Log time from your browser, or on the go with our new iPhone app.</p>
                  <div id="screenshots-timers" class="screenshots">
                    <span class="open"></span>
                  </div>
                </div>
              </div>
      <div class="column c_fit last">
                <div id="bridge">
                  <div id="stopwatch-indicator" style="-webkit-transform: rotate(323deg); "></div>
                  <div id="stopwatch-indicator-small"></div>
                </div>
              </div>
    </div>
    <div id="mentoring" class="row_b">
              <div id="desktop" style="background-position: 0px 50px; background-size: 100%; ">
                <div id="invoice-stamp" style="-webkit-transform: scale(2.66); opacity: -0.10666666666666669; "></div>
              </div>
              <div class="text">
                <h2>Impress your clients with gorgeous invoices.</h2>
                <p>Our beautiful, web-based invoices and estimates make it easier than ever to get paid and discuss projects with your clients and colleagues.</p>
                <div class="screenshots">
                </div>
              </div>
    </div>
    <div id="opportunity" class="row_b">
      This is a test<br/> <br/> <br/> <br/> <br/> <br/> <br/>
    </div>
  </div>
</div>
