</div>
<div class="splash_p">
<div class="summary">
  <div id="bridge"></div>
  <div class="arno" id="ptext1">Learn Ruby on Rails in 6 weeks!</div>
  <div class="cloud1" ></div></div>
<div class="course_specs"></div>
<div class="employer_info"></div></div>
<div class="container">
