<div class="containing">
  <div class="content row">
    <div id="community" class="row">
      <div class="column six">
                <div class="text">
                  <h2>Community that works for you!</h2>
                  <p>Built for teams from 1 to 100, CodeStreak makes it easy to stay on time and on budget. Log time from your browser, or on the go with our new iPhone app.</p>
                  <div id="screenshots-timers" class="screenshots">
                    <div class="thumbnails">
                      <img class="screenshot" src="images/screenshots/thumbnails/timetracking-thumb-1.png" width="100" height="52" alt="" data-fullsize="images/screenshots/images/timetracking-1.png" data-text="&lt;h3&gt;Time Tracking 1&lt;/h1&gt;&lt;p&gt;Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur.&lt;/p&gt;">
                      <img class="screenshot" src="images/screenshots/thumbnails/timetracking-thumb-2.png" width="100" height="52" alt="" data-fullsize="images/screenshots/images/timetracking-2.png" data-text="&lt;h3&gt;Time Tracking 2&lt;/h1&gt;&lt;p&gt;Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur.&lt;/p&gt;">
                      <img class="screenshot" src="images/screenshots/thumbnails/timetracking-thumb-3.png" width="100" height="52" alt="" data-fullsize="images/screenshots/images/timetracking-3.png" data-text="&lt;h3&gt;Time Tracking 3&lt;/h1&gt;&lt;p&gt;Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur.&lt;/p&gt;">
                    </div>
                    <span class="open"></span>
                  </div>
                </div>
              </div>
    </div>
    <div id="mentoring" class="row">
      This is a test<br/> <br/> <br/> <br/> <br/> <br/> <br/>
    </div>
    <div id="opportunity" class="row">
      This is a test<br/> <br/> <br/> <br/> <br/> <br/> <br/>
    </div>
  </div>
</div>
