<div id="headline" class="row">
  <div class="span10">
    <h1><b>Learn Ruby on Rails in 6 action-packed weeks.</b></h1>
    <p>Follow through on your New Year's resolution to learn to code! Our curriculum is specifically designed to give students with any background the ability to work as a good, junior developer.</p>
  </div>
  <div class="span2 bounce-in">
    <img src="<%= image_path('parallax/ruby_on_rails.png') %>" />
  </div>
</div>

</div>
<div id="banner">
  <div class="container">
    <div id="banner-graphics">
      <div id="banner-macbook"></div>
      <div id="banner-iphone"></div>
    </div>
    <ul id="banner-icons">
      <li>
      <a id="icon-community" href="#community">
        <h4>Make connections</h4>
        <p>Meet like-minded individuals at our San Francisco office.</p>
      </a>
      </li>
      <li>
      <a id="icon-mentoring" href="#mentoring">
        <h4>Gain experience</h4>
        <p>Learn from veteran developers who are excited to share their experience.</p>
      </a>
      </li>
      <li>
      <a id="icon-opportunity" href="#opportunity">
        <h4>Prepare for a new career</h4>
        <p>Work on a portfolio project and interview skills to impress employers.</p>
      </a>
      </li>
    </ul>
  </div>
</div>
<div class="container">

<div class="containing">
  <div class="content row_b">
    <div id="community" class="row_b">
      <div class="column c_fit">
                <div class="text">
                  <h2>Community that works for you!</h2>
                  <p>Built for teams from 1 to 100, CodeStreak makes it easy to stay on time and on budget. Log time from your browser, or on the go with our new iPhone app.</p>
                  <div id="screenshots-timers" class="screenshots">
                    <span class="open"></span>
                  </div>
                </div>
              </div>
      <div class="column c_fit last">
                <div id="bridge">
                  <div id="stopwatch-indicator" style="-webkit-transform: rotate(323deg); "></div>
                  <div id="stopwatch-indicator-small"></div>
                </div>
              </div>
    </div>
    <div id="mentoring" class="row_b">
              <div id="desktop" style="background-position: 0px 50px; background-size: 100%; ">
                <div id="invoice-stamp" style="-webkit-transform: scale(2.66); opacity: -0.10666666666666669; "></div>
              </div>
              <div class="text">
                <h2>Impress your clients with gorgeous invoices.</h2>
                <p>Our beautiful, web-based invoices and estimates make it easier than ever to get paid and discuss projects with your clients and colleagues.</p>
                <div class="screenshots">
                </div>
              </div>
    </div>
    <div id="opportunity" class="row_b">
              <div class="text">
                <h2>Keep your fingers on the pulse of your business.</h2>
                <p>Our powerful reporting makes sense of the madness by monitoring payments, time tracked, and upcoming cash flow. It also provides insight into where your team's time is spent and how your business is developing.</p>
                <div class="screenshots">
                    What?
                  </div>
              </div>
              <div id="report-tooltip" style="opacity: 0; -webkit-transform: scale(0); "><p>August 14, 2012</p><small>$4,500 received</small></div>
    </div>
    <div id="press">
            <h4 style="margin-bottom:20px">Companies Hiring Ruby on Rails Developers</h4>
            <a class="twitter pressLogo" href="http://thenextweb.com/apps/2012/08/14/freelancers-smbs-ballpark-invoice-crm-app-youve-waiting/" alt="Twitter"></a>
            <a class="linkedin pressLogo" href="http://techcrunch.com/2012/08/14/metalab-relaunch-ballpark-design-capital/" alt="LinkedIn"></a>
            <a class="groupon pressLogo" href="http://pandodaily.com/2012/08/14/metalab-updates-ballpark-to-help-small-businesses-but-dont-call-it-a-revolution/" alt="Groupon"></a>
            <div class="clear"></div>
          </div>
    <div id="apply_now" class="row">
            <div class="text">
              <h2>Are you ready to get your code on?</h2>
              <p>Apply for CodeStreak Today! Really? Yes!</p>
              <a class="btn btn-large btn-primary" href="https://www.codestreak.com/apply">Apply Today!<span class="icon-arrow-right" style="margin-left:5px"></span></a>
            </div>
          </div>
  </div>
</div>

<script>
  $(function() {
    $("#banner-icons").on("click", "a", function() {
      console.log("ASDF");
      console.log($(this).attr("href"));
      scrollTo($(this).attr("href"));
      return false;
    });
  });
</script>

