<h3>Participate</h3>

<p>We're specifically interested in talking to folks about the following roles. If you have a different opportunity in mind, let us know!</p>

<dl>
  <dt>Instructors</dt>
  <dd>The quality of our curriculum is extremely important to us, and a very large part of that comes down to our instructors. If you're an experienced Ruby on Rails developer and enjoy teaching, drop us a line! You'll love working with us - our environment is fantastic, and the competitive pay is a nice bonus as well.</dd>
  <br />
  <dt>Guest speakers</dt>
  <dd>Interested in sharing your knowledge, but don't have the bandwidth to teach full-time? We've left a bit of spare time in our schedule for guest presentations. It's a great way to improve your public speaking skills and to get your name out there, so send us a note if you're interested.</dd>
  <br />
  <dt>Employers</dt>
  <dd>Demo day is an integral part of our program. A large portion of program time is spent working on a capstone project, and our students are really looking forward to interviewing with potential new employers. If you're interested in seeing if our students might be a good fit for your team, RSVP now to reserve your spot at the event!</dd>
</dl>

<div class="well">
  <p>Want to get involved? Email us!</p>
  <a href="mailto:contact@codestreak.com" class="btn btn-info inline" style="margin-left: 6px">contact@codestreak.com</a>
</div>

