<h3>Meet the team!</h3>


<div class="row">
  <img src="<%= image_path('team/justin.jpg') %> " class="span2" style="border: 1px solid black; padding: 4px;" />
  <div class="span3">
    <h4>Justin Pincar</h4>
    <div>
      I founded Trisse along with Tyler York. It was our own small flash-sale site, specializing in the artisan food and beverage niche. It was moderately successful, but soon after we got off the ground Gilt announced and launched Gilt Taste, which basically just blew us out of the water. The established Gilt brand lured many of our vendors, and although our vendors wanted to continue working with us.
    </div>
  </div>

  <img src="<%= image_path('team/kevin.jpg') %> " class="span2 offset1" style="border: 1px solid black; padding: 4px;" />
  <div class="span3">
    <h4>Kevin Meehan</h4>
    <div>
      I founded Trisse along with Tyler York. It was our own small flash-sale site, specializing in the artisan food and beverage niche. It was moderately successful, but soon after we got off the ground Gilt announced and launched Gilt Taste, which basically just blew us out of the water. The established Gilt brand lured many of our vendors, and although our vendors wanted to continue working with us.
    </div>
  </div>
</div>
<br />

<div class="row">
  <img src="<%= image_path('team/mike.jpg') %> " class="span2" style="border: 1px solid black; padding: 4px;" />
  <div class="span3">
    <h4>Mike Sample</h4>
    <div>
      I founded Trisse along with Tyler York. It was our own small flash-sale site, specializing in the artisan food and beverage niche. It was moderately successful, but soon after we got off the ground Gilt announced and launched Gilt Taste, which basically just blew us out of the water. The established Gilt brand lured many of our vendors, and although our vendors wanted to continue working with us.
    </div>
  </div>

  <img src="<%= image_path('team/chris.jpg') %> " class="span2 offset1" style="border: 1px solid black; padding: 4px;" />
  <div class="span3">
    <h4>Chris Kung</h4>
    <div>
      I founded Trisse along with Tyler York. It was our own small flash-sale site, specializing in the artisan food and beverage niche. It was moderately successful, but soon after we got off the ground Gilt announced and launched Gilt Taste, which basically just blew us out of the water. The established Gilt brand lured many of our vendors, and although our vendors wanted to continue working with us.
    </div>
  </div>
</div>
<br />
